body{
    font-family: '微软雅黑';
    background: #F7F7F7;
}

.wrapper{
    padding-bottom: 60px;
    padding-top: 40px;
}

/*tab切换*/
.title{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
    line-height: 30px;
    padding: 5px 0;
    margin: 0 auto;
    background: #000;
    font-size: 0px;
    text-align: center;
}

.title span{
    display: inline-block;
    margin: 0 4%;
    font-size: 14px;
    vertical-align: top;
}

.title span a{
    color: #A1A1A1;
}

.title .tit_choosen{
    font-size: 18px;
    box-shadow: 0 2px 0 #fff;
}

.title .tit_choosen a{
    color: #fff;
}

/*搜索*/
.search{
    display: flex;
    padding: 0 4%;
    border-bottom: 1px solid #eee;
    background: #fff;
}

.search .month{
    position: relative;
    line-height: 40px;
    font-size: 0;
    width: 90px;
}

.search .month select{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.search .font_search{
    flex: 1;
    display: flex;
    width: 70%;
    font-size: 14px;
}

.search .font_search div{
    flex: 1;
}

.search .font_search input{
    width: 100%;
    outline: 0;
    border: 0;
    line-height: 30px;
    height: 30px;
    margin-top: 5px;
    background: url(../../static/images/history/search.png) no-repeat #F7F7F7 left 7px center;
    background-size: 16px 16px;
    border-radius: 20px;
    padding-left: 30px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.search .font_search span{
    width: 60px;
    line-height: 20px;
    height: 20px;
    margin-top: 10px;
    text-align: center;
    font-size: 16px;
}

.search .month span{
    display: inline-block;
    font-size: 14px;
    vertical-align: top;
    color: #FFCC00;
}

.search .month span:nth-child(2){
    width: 10px;
    margin: 0 5px;
    margin-top: 15px;
}

/*听课记录*/
.record{
    position: relative;
    background: #fff;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    margin-top: 10px;
    padding: 10px 4%;
    color: #2B2B2B;
}

.record .topic{
    line-height: 30px;
    font-size: 16px;
}

.school span{
    display: inline-block;
    vertical-align: top;
    height: 24px;
    line-height: 24px;
    font-size: 14px;
    margin-right: 5px;
}

.school span:nth-child(1){
    width: 14px;
    height: 14px;
    margin-top: 5px;
}

.record .detail{
    position: absolute;
    bottom: 10px;
    right: 10px;
    height: 24px;
    line-height: 24px;
    font-size: 14px;
    color: #FFCC00;
}

.record .modify{
    position: absolute;
    top: 10px;
    right: 10px;
    height: 24px;
    line-height: 24px;
    font-size: 14px;
    color: #FFCC00;
}

.record .detail span,.record .modify span{
    display: inline-block;
    vertical-align: top;
}

.record .detail span:nth-child(2){
    width: 14px;
    height: 14px;
    margin-top: 5px;
}

/*页面底部*/
.footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    display: flex;
}

.footer a{
    flex: 1;
    background: #fefefe;
    border-top: 1px solid #eee;
}

.footer a span{
    display: block;
    font-size: 10px;
    width: 20px;
    height: 20px;
    margin: 0 auto;
    line-height: 20px;
}

.footer a span:nth-child(1){
    margin-top: 8px;
}

.footer a span:nth-child(2){
    width: 80%;
    text-align: center;
    color: #666
}

/*底部弹窗*/
.pop_01{
    position: fixed;
    bottom:0;
    left: 0;
    background: #eee;
    width: 100%;
    font-size: 14px;
}

.pop_01 .pop_title{
    line-height: 50px;
    border-bottom: 1px solid #ccc;
}

.pop_01 .pop_title .close_pop_01{
    float: right;
    width: 60px;
    text-align: center;
}

.pop_01 .pop_title .sure_01{
    float: right;
    width: 60px;
    text-align: center;
}

.pop_01 .show_pop{
    line-height: 50px;
    margin-left: 4%;
}

.pop_01 .pop_con{
    padding: 0 4%;
    max-height: 200px;
    overflow-y: scroll;
}

.pop_01 .pop_con div{
    line-height: 40px;
    border-bottom: 1px solid #ccc;
    text-align: center;
}

.new_pop01{
    background: #fff;
    border-radius: 5px;
    position: fixed;
    width: 80%;
}

.pop01_title{
    text-align: center;
    line-height: 40px;
    font-size: 18px;
}

.pop01_con{
    padding: 10px 10px;
    line-height: 24px;
    font-size: 14px;
    text-indent: 2em;
    max-height: 300px;
    color: #666;
    height: 300px;
    overflow-y: scroll;
}

.pop01_con .mess{
    display: flex;
    text-indent: 0;
}

.pop01_con .mess input,.pop01_con .mess textarea{
    display: block;
    border: 1px solid #eee;
    outline: 0;
    width: 90%;
    max-width: 90%;
    margin: 0 auto;
    padding: 0 5%;
    line-height: 30px;
    font-size: 14px;
    resize: none;
    word-break: break-all;
}

.pop01_con .mess div:nth-child(1){
    width: 80px;
    text-align: right;
}

.pop01_con .mess div:nth-child(2){
    flex: 1;
    word-break: break-all;
    text-align: left;
}

.pop01_close{
    border-top: 1px solid #eee;
    line-height: 40px;
    text-align: center;
    color: #FFCC00;
}

.picImage div{
    float: left;
    width: 21%;
    padding-bottom: 21%;
    margin: 0 2%;
}

#loading{
     width: 100px;
     height: 100px;
 }

.closeBtn div{
    width: 50%;
    float: left;
    border-top: 1px solid #eee;
    line-height: 40px;
    text-align: center;
    color: #FFCC00;
    font-size: 16px;
}

.closeBtn div:nth-child(1){
    box-shadow: 1px 0px 0 #eee;
}

/*大图预览*/
.bigImage{
    position: fixed;
    z-index: 99999999999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
}

.bigImage img{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: contain;
}