<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>


    <typeAliases>
        <typeAlias alias="ParamEntityInfo" type="domain.base.entity.ParamEntity"/>
        <typeAlias alias="SchoolEntityInfo" type="domain.listen.entity.SchoolEntity"/>
        <typeAlias alias="ListenerEntityInfo" type="domain.base.entity.ListenerEntity"/>
        <typeAlias alias="NoteEntityInfo" type="domain.listen.entity.NoteEntity"/>
        <typeAlias alias="PhoneEntityInfo" type="domain.user.entity.PhoneEntity"/>
    </typeAliases>

</configuration>